.body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(48, 48, 48);
}

.hola {
    height: 205px;
}

.ay {
  margin: auto;
  width: 25%;
  border: 0px;
  padding: 10px;
}